<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huaixv06.fileCenter.mapper.FileFavourMapper">

    <resultMap id="BaseResultMap" type="com.huaixv06.fileCenter.model.entity.FileFavour">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="fileId" column="fileId" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,fileId,userId,
        createTime,updateTime
    </sql>

    <select id="listFavourFileByPage"
            resultType="com.huaixv06.fileCenter.model.entity.File">
        select p.*
        from file_center.file p
                 join (select fileId from file_center.file_favour where userId = #{favourUserId}) pf
                      on p.id = pf.fileId ${ew.customSqlSegment}
    </select>
</mapper>
